@charset "UTF-8";

/* cores da empresa

#08243A
#AB8636
#C2A964

*/

* {
    
}

header img {
    width: 90%;
}

h1, h2, h3 {
    color: #0e4066;
    text-align: center;
}

p, li {
    color: white;
    text-align: justify;
}

body {
    background-image: linear-gradient(to right, #C2A964, #AB8636)
}